.container {
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: 1px solid lightgray;
    background-color: hsl(39, 80%, 60%);
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    margin: 20px 20px;
}

.onClick {
    transition: 0.1s;
}

.onClick:active {
    scale: 0.9;
}

.onClick:not(:active) {
    scale: 1;
}