* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;

}
:root {
  --color-light: black;
  --color-dark: white;
  --bg-color-light: hsl(0, 0%, 95%);
  --bg-color-dark: hsl(0, 0%, 25%);
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 0%, 95%);
}

a {
  text-decoration: none;
  color: var(--color-light);
}