.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invoice {
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
    margin: 40px 0px;
    background-color: white;
    max-width: 1000px;
    width: 80vw;
}

.banner {
    /* border: 2px solid red; */
    height: auto;
    /* border-radius: 5px; */
    display: flex;
    justify-content: space-between;
    background-color: hsl(203, 92%, 50%);
    color: white;
    padding: 20px 40px;
}

.bannerAndItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.subBanner {
    /* border: 1px solid lightgray; */
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.items {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.strip {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    border-bottom: 2px solid lightskyblue;
    height: 80px;
}
.stripDesc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stripQty {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.stripUnit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.stripTotal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lightHeaders {
    color: hsl(203, 92%, 50%);
}

.thinFont18 {
    font-size: 18px;
}
.boldFont {
    font-weight: bold;
}
.largeFont40 {
    font-size: 40px;
}

.xlargeFont70 {
    font-size: 70px;
}

.invWord {
    position: relative;
    top: -75px;
}

.centerDiv {
    height: 150px;
}

.invTotal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.invNum {
    position: relative;
    top: -55px;
}

.font22 {
    font-size: 22px;
}

.bottom {
    border: 2px solid red;
    margin-bottom: 0px;
}

.itemHeadings {
    border-bottom: none;
    margin-top: 10px;
}

.balances {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: right;
}

.hide {
    opacity: 0;
}



