.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invoice {
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
    margin: 40px 0px;
    background-color: white;
    max-width: 1000px;
    width: 80vw;
}

.banner {
    height: 175px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(203, 92%, 50%);
    color: white;
    padding: 20px 40px;
}

.bannerAndItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.subBanner {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.items {
    display: flex;
    flex-direction: column;
}

.strip {
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    border-bottom: 2px solid lightskyblue;
    height: 80px;
}
.stripDesc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stripCenter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lightHeaders {
    color: hsl(203, 92%, 50%);
}

.thinFont18 {
    font-size: 18px;
}
.boldFont {
    font-weight: bold;
}
.largeFont40 {
    font-size: 40px;
}

.xlargeFont70 {
    font-size: 70px;
}

.invWord {
    position: relative;
    top: -75px;
}

.invTotal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.invNum {
    position: relative;
    top: -55px;
}

.font22 {
    font-size: 22px;
}

.bottom {
    border: 2px solid red;
    margin-bottom: 0px;
}

.itemHeadings {
    border-bottom: none;
    margin-top: 10px;
}

.balances {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: right;
}

.hide {
    opacity: 0;
}

.mediaCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    max-width: 400px;
    min-width: 240px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
    margin: 10px 0px;
    padding: 10px 0px;
    padding-bottom: 20px;
    background-color: white;
    width: 80vw;
}

.mediaBanner {
    background-color: hsl(203, 92%, 50%);
    color: white;
}

.mediaFont {
    font-size: 22px;
}

.mediaBold {
    font-weight: bolder;
}

.border {
    border: 2px solid red;
}
.mediaTextAlign {
    align-self: flex-start;
}
.mediaAlignLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 90%;
}
.mediaSeparate {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.mediaInvHeight {
    height: 100px;
}


@media screen and (width < 950px) {
    .banner {
        flex-direction: column;
        justify-content: flex-start;
        height: 375px;
        gap: 0px;
    }
    .invWord {
        top: -50px;
    }
    .xlargeFont70 {
        font-size: 45px;
    }
    .mediaSize {
        height: 100px;
    }
    .subBanner {
        flex-direction: column;
    }
}
