
.blockMenu {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 1000px;
    gap: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardMenu {
    border: 1px solid lightgray;
    background-color: hsl(39, 80%, 60%);
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 200px;
    width: 80vw;
    margin: 20px 0px;
}

.cardMenuHeaders {
    grid-column: span 2;
    text-align: center;
}

.cardMenuItems {
    /* grid-column: span 2; */
    text-align: center;
}

.cardInvoices {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80vw;
    max-width: 1000px;
    margin: 20px 20px;
    gap: 5px;
}

.strip {
    border: 1px solid lightgray;
    box-shadow: 3px 3px 5px lightgray;
    border-radius: 5px;
    background-color: white;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    max-width: 1000px;
    transition: scale 0.5s;
}

.strip:hover {
    scale: 0.98;
}

.searchCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    max-width: 1000px;
    /* border: 2px solid red; */
}

.search {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding-left: 5px;
    font-size: 18px;
}

.searchButton {
    height: 35px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 18px;
    margin-left: 5px;
}

.invcolor {
    color: hsl(203, 92%, 50%);
}

.normalFont18 {
    font-weight: 300;
    font-size: 18px;
}

.largeFont30 {
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

.rightAlign {
    /* border: 2px solid red; */
    text-align: right;
}

