
.blockMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 1000px;
    gap: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardMenu {
    border: 1px solid lightgray;

    padding: 10px;
    background-color: hsl(39, 80%, 60%);
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 200px;
    width: 80vw;
    margin: 20px 0px;
}

.cardMenuHeaders {
    grid-column: span 2;
    text-align: center;
}

.cardMenuItems {
    text-align: center;
}

.cardInvoices {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 80vw;
    max-width: 1000px;
    margin: 20px 20px;
    gap: 5px;
}

.strip {
    border: 1px solid lightgray;
    box-shadow: 3px 3px 5px lightgray;
    border-radius: 5px;
    background-color: white;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: 10fr 2fr;
    width: 80vw;
    max-width: 1000px;
    transition: scale 0.5s;
}

.strip:hover {
    scale: 0.98;
}

.stripInvoiceFields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.invcolor {
    color: hsl(203, 92%, 50%);
}

.normalFont18 {
    font-weight: 300;
    font-size: 18px;
}

.largeFont30 {
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

.rightAlign {
    text-align: right;
}

.align {
    align-items:last baseline;
}

@media screen and (width < 740px) {
    .cardMenu {
        height: 120px;
        display: flex;
        flex-direction: column;
    }
    .blockMenu p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .strip {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
    }    
    .stripInvoiceFields {
        display: flex;
        flex-direction: column;
    }
    .stripInvoiceFields h2 {
        text-align: center;
    }
    .invcolor {
        font-size: 30px;
    }
    .normalFont18 {
        font-size: 12px;
    }
    .whenMedia {
        width: 165px;
    }

    input[type=button] {
        width: 100px;
        margin-left: 5px;
    }
}

@media screen and (orientation: landscape) and (width < 855px), (740px <= width < 855px) {
    .whenMedia {
        width: 160px;
    }
}

